In [7]:
from collections import Counter
import string

import numpy as np
import pandas as pd

In [55]:
df = pd.read_csv('data.txt', header=None, names=['items'])
df['member'] = np.tile(range(3), len(df))[:len(df)]
df.index = np.repeat(np.arange(100), 3)
df

                                               items  member
0                         hDsDDttbhsmshNNWMNWGbTNqZq       0
0                           VQfjnlFvnQFRdZWdVtqMGdWW       1
0   zvvvRnFFfjjlRBlBPzgQgRvvmtrmhHcptLHCDhcHHmLsBmsB       2
1   FrzFvvdTDcTnmTzdDTTzdvWmjhgVPrhSljSQSPwPjPjPjSVC       0
1   sMsGbqGsbbRqRbBMBGRMbLpNSSpjhlQljHVClhjgPjjPhlVp       1
..                                               ...     ...
98  ldcmDPDhmlFBHPDddLBVFDHLppZpjSCjjNfwNMwCpSMwhCMp       1
98      FtDdsHPcHmdHVPLtHsdtBHQnsbvnTRRTRsRRqbqvqWnJ       2
99                hhtBtPrgbbhhgjZjjCCHHNpNDHpffHWCvr       0
99                LGFLVwswsJMSgFwMMpddSvpHCCdDdvCpvm       1
99                sGsFsQLsVsLFnnFTJQthjcjQqhRcBZZtRg       2

[300 rows x 2 columns]

In [56]:
df = df.pivot(columns='member', values='items')
df = df.groupby(t.index).apply(lambda x: list(set(x.iloc[0,0]) & set(x.iloc[0,1]) & set(x.iloc[0,2])).pop())

In [57]:
letters = list(string.ascii_lowercase + string.ascii_uppercase)
numbers = list(range(1,53))
priorities = dict(zip(letters, numbers))

In [63]:
df.map(priorities).sum()

2752