In [1]:
import pandas as pd
import numpy as np

In [3]:
def get_set(s):
    return s.split('-')


df = pd.read_csv('data.txt', header=None, names=['elf_1', 'elf_2'])
df

     elf_1  elf_2
0    13-53  17-82
1    32-32  32-42
2    85-85   8-86
3    78-80  79-91
4    60-71  59-70
..     ...    ...
995  38-88  37-96
996  74-81  22-81
997  69-83  68-70
998   2-91  38-91
999   2-90  91-96

[1000 rows x 2 columns]

# Part 1

In [26]:
df['elf_1_set'] = df['elf_1'].str.split('-').map(lambda x: set(range(int(x[0]), int(x[1])+1)))
df['elf_2_set'] = df['elf_2'].str.split('-').map(lambda x: set(range(int(x[0]), int(x[1])+1)))
df['max'] = df.apply(lambda x: max(len(x['elf_1_set']), len(x['elf_2_set'])), axis=1)
df['union'] = df.apply(lambda x: len(x['elf_1_set'] | x['elf_2_set']), axis=1)
(df['union'] == df['max']).sum()

475

# Part 2

In [31]:
df['total'] = df.apply(lambda x: len(x['elf_1_set']) + len(x['elf_2_set']), axis=1)
(df['total'] != df['union']).sum()

825